<!--<div class="header">-->
<!--  <a href="#default" class="logo">RABO Bank</a>-->
<!--  <div class="header-left">-->
<!--    <a (click)="navigate('home')" [ngClass]="activeMenu === '/home' ? 'active': ''" class="menu">Home</a>-->
<!--    <a (click)="navigate('transaction')"  [ngClass]="activeMenu=== '/transaction' ? 'active': ''" class="menu">Transaction</a>-->
<!--  </div>-->
<!--</div>-->

<header class="top-black-style">
  <nav>
    <ul>
      <li class="special title">
        RABO Bank
      </li>
      <!--<div class="bubble">
                Go to "About" section ?
            </div>-->
      <div class="separation"></div>
      <li (click)="navigate('home')" [ngClass]="activeMenu === '/home' ? 'active': ''">
        Home
      </li>
      <li (click)="navigate('transaction')"  [ngClass]="activeMenu=== '/transaction' ? 'active': ''">
        Transaction
      </li>
      <li [title]="'Under Development'">
        About us
      </li>
      <li [title]="'Under Development'">
        contact
      </li>
      <div class="separation"></div>
      <li class="special">
        Sign In
      </li>
      <li class="special">
        New User
      </li>
    </ul>
  </nav>
</header>

